{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        
          <h1>About [Me]</h1>
          <p>My name is Natalia.</p>
          <p>I studied in the University of Queensland, doing Master in Business and majoring in Information Systems (basically, it is 70% business and 30% IT). </p>
          <p>Before coming to Australia I made a promise to myself to say "Yes" to every opportunity that comes my way and to chase those opportunities that try sneaking by. So far it has paid off tremendously: I've volunteered as a teacher in Indonesia, participated in debating competitions all over Russia, started tutoring in UQ, took on an executive role in a student club and, what's more, I made personal growth a priority. </p>
          <p>Through a lot of failures and successes I discovered my love of solving problems with technology.  Since then I've been teaching myself front-end, and have just moved to Python and Java. </p>
          <p>One day, I'd want this blog to be a place people will go for answers. Now, this is a place to learn, reflect, fail and build the expertise needed for the future.</p>

        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
